<div class="row px-3" style=" margin-right: 150px; margin-left: 120px">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="searchRoomsByName"
    />
  </div>
<!-- Image and text -->

<div class="row">
<div class="card" style="width: 18rem;" 
*ngFor="let n of roomList | searchRooms: searchRoomsByName">
<a routerLink="/view/{{ n.id }}"><img [src]="n.image" width="200px" height="200px" class="card-img-top" alt="..."></a>
<div class="card-body">
  <h5 class="card-title">{{n.name}}</h5>
  <p class="card-text">{{n.price}}</p>
 

</div>
</div> 
</div>



<router-outlet></router-outlet>
